# SPDX-FileCopyrightText: 2023 - 2025 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Ensure Excalidraw paths exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ excalidraw_uid }}"
    group: "{{ excalidraw_gid }}"
  with_items:
    - "{{ excalidraw_base_path }}"

- name: Ensure Excalidraw support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ excalidraw_base_path }}/{{ item }}"
    mode: "0640"
    owner: "{{ excalidraw_uid }}"
    group: "{{ excalidraw_gid }}"
  with_items:
    - env
    - labels
  register: excalidraw_support_files_result

- name: Run if self-building of Excalidraw container image is not enabled
  when: "not excalidraw_container_image_self_build | bool"
  block:
    - name: Ensure Excalidraw container image is pulled via community.docker.docker_image
      when: devture_systemd_docker_base_container_image_pull_method == 'ansible-module'
      community.docker.docker_image:
        name: "{{ excalidraw_container_image }}"
        source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
        force_source: "{{ excalidraw_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
        force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else excalidraw_container_image_force_pull }}"
      register: excalidraw_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: excalidraw_container_image_pull_result is not failed

    - name: Ensure Excalidraw container image is pulled via ansible.builtin.command
      when: devture_systemd_docker_base_container_image_pull_method == 'command'
      ansible.builtin.command:
        cmd: "{{ devture_systemd_docker_base_host_command_docker }} pull {{ excalidraw_container_image }}"
      register: excalidraw_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: excalidraw_container_image_pull_result is not failed
      changed_when: "'Downloaded newer image' in excalidraw_container_image_pull_result.stdout"

- name: Run if self-building of Excalidraw container image is enabled
  when: "excalidraw_container_image_self_build | bool"
  block:
    - name: Ensure Excalidraw repository is present on self-build
      ansible.builtin.git:
        repo: "{{ excalidraw_container_image_self_build_repo }}"
        version: "{{ excalidraw_container_image_self_build_repo_version }}"
        dest: "{{ excalidraw_container_image_self_build_src_files_path }}"
        force: "yes"
      register: excalidraw_git_pull_results

    - name: Ensure Excalidraw files for building container image installed
      ansible.builtin.template:
        src: "{{ role_path }}/templates/{{ item }}.j2"
        dest: "{{ excalidraw_container_image_self_build_src_files_path }}/{{ item }}"
        mode: "0640"
        owner: "{{ excalidraw_uid }}"
        group: "{{ excalidraw_gid }}"
        force: true # Overwrite the default Dockerfile at https://raw.githubusercontent.com/gchq/Excalidraw/refs/heads/master/Dockerfile
      with_items:
        - .dockerignore
        - Dockerfile

    - name: Check if Excalidraw container image exists
      ansible.builtin.command: docker images -q "{{ excalidraw_container_image_self_build_name }}"
      register: excalidraw_docker_image_exists
      changed_when: false

    # See: https://github.com/excalidraw/excalidraw/issues/4993
    # Note: these variables are the ones defined by ansible-role-excalidraw-room
    - name: Replace the value of VITE_APP_WS_SERVER_URL on .env.production with one for self-hosted Excalidraw collaboration server
      when: "excalidraw_room_enabled | default(false) | bool"
      ansible.builtin.replace:
        path: "{{ excalidraw_container_image_self_build_src_files_path }}/.env.production"
        regexp: "VITE_APP_WS_SERVER_URL=https://oss-collab.excalidraw.com"
        replace: "VITE_APP_WS_SERVER_URL={{ excalidraw_room_scheme | default('') }}://{{ excalidraw_room_hostname | default('') }}:{{ excalidraw_room_container_http_port | default('') }}"

    - name: Ensure Excalidraw container image is built if the container image does not exist or the repository has been updated
      when: excalidraw_docker_image_exists.stdout == '' or (excalidraw_git_pull_results.before != excalidraw_git_pull_results.after)
      ansible.builtin.shell:
        chdir: "{{ excalidraw_container_image_self_build_src_files_path }}"
        cmd: |
          {{ devture_systemd_docker_base_host_command_docker }} build \
          -t "{{ excalidraw_container_image_self_build_name }}" \
          -f Dockerfile \
          .
      environment:
        BUILDPLATFORM: "{{ excalidraw_container_image_self_build_environment_buildplatform }}"
      register: excalidraw_container_image_build_result
      changed_when: >
        'Successfully built' in excalidraw_container_image_build_result.stdout or
        ('writing image' in excalidraw_container_image_build_result.stderr and 'CACHED' not in excalidraw_container_image_build_result.stderr) or
        'unpacking to' in excalidraw_container_image_build_result.stderr

- name: Ensure Excalidraw container network is created via community.docker.docker_network
  when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
  community.docker.docker_network:
    enable_ipv6: "{{ devture_systemd_docker_base_ipv6_enabled }}"
    name: "{{ excalidraw_container_network }}"
    driver: bridge
    driver_options: "{{ devture_systemd_docker_base_container_networks_driver_options }}"
  register: excalidraw_network_creation_result

- name: Ensure Excalidraw container network is created via ansible.builtin.command
  when: devture_systemd_docker_base_container_network_creation_method == 'command'
  ansible.builtin.command:
    cmd: >-
      {{ devture_systemd_docker_base_host_command_docker }} network create
      {% if devture_systemd_docker_base_ipv6_enabled %}--ipv6{% endif %}
      {{ devture_systemd_docker_base_container_networks_driver_options_string }}
      {{ excalidraw_container_network }}
  register: excalidraw_network_creation_result
  changed_when: excalidraw_network_creation_result.rc == 0
  failed_when: excalidraw_network_creation_result.rc != 0 and 'already exists' not in excalidraw_network_creation_result.stderr

- name: Ensure Excalidraw systemd service is present
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/excalidraw.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ excalidraw_identifier }}.service"
    mode: "0644"
  register: excalidraw_systemd_service_result

- name: Determine whether Excalidraw needs a restart
  ansible.builtin.set_fact:
    excalidraw_restart_necessary: >-
      {{
        excalidraw_support_files_result.changed | default(false)
        or excalidraw_systemd_service_result.changed | default(false)
        or excalidraw_container_image_pull_result.changed | default(false)
        or excalidraw_container_image_build_result.changed | default(false)
      }}
